html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#container {
  height: 100%;
  width: 100%;
  position: absolute;
  /* display: inline-block; */
}
.chart{
  border: solid 0.25rem #1266f1;
  border-radius: 0.25rem;
  height: 60%;
  margin: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

}
.chart__container{
  position: relative;
  height: 90%;
}
.chart__title{
  max-height: 10%;
  margin: 2rem;
  text-align: center;
}
*{
  box-sizing: border-box;
}
#barForm, 
#pieForm{
    display: none;
}
.flex-container{
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;

}
.header-title{
  font-size: 1.5rem;
  margin: auto 1rem auto 1rem;
}

.user-input{
  border: solid 0.25rem #1266f1 ;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  min-width: 30%;
  /* position: relative; */
  left: 10%;

  min-height: 12.5rem;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  margin-top: 1rem;
}


.fund-bar{
  margin-top: 1rem;
}
button{
  margin-top: 1rem;
}
